{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 120,
  "arrowParens": "always",
  "parser": "typescript",
  "plugins": ["prettier-plugin-organize-imports"],
  "overrides": [
    {
      "files": ["**/*.json"],
      "options": {
        "parser": "json"
      }
    },
    {
      "files": "/.tjsclirc",
      "options": {
        "parser": "json5"
      }
    }
  ]
}
